# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node / Angular
node_modules/
dist/
.angular/
.env
.env.*
!.env.example

# .NET
bin/
obj/
*.user
*.suo

# Logs
*.log

# Banco / Docker
*.db
*.sqlite
docker-data/

# Arquivos sensíveis
appsettings.Production.json
.env.local
.env.production
